node_modules
dist
build
target
.sui
.turbo
*.min.js
*.bundle.js
package-lock.json
yarn.lock
pnpm-lock.yaml
.env
.env.*
!.env.example
coverage
*.log
publish-output.json
**/publish-output.json
bytecode.dump.json
**/bytecode.dump.json
*.move
